<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="stylesheets/styles.css">
    
    <title>Uai-commerce</title>
  </head>
  <body>
    <div class="sidebar">
      <div class="logo_content">
        <div class="logo">
          <i class='bx bxl-shopify'></i>
          <div class="logo_name">Uai-commerce<%= docs[0].ADM == 1? ' ADM' : '' %></div>
        </div>
        <i class='bx bx-menu' id='btn' ></i>
      </div>
      <ul class="nav_list">
        <li>
            <i class='bx bx-search' ></i>
            <input type="text" placeholder="Producar produto...">
        </li>
        <li>
          <a href="#">
            <i class='bx bx-home' ></i>
            <span class="links_name">Home</span>
          </a>
        </li>
        <% if(docs[0].ADM == 1 ){ %>
        <li>
          <a href="lista_usuarios">
            <i class='bx bx-list-ul' ></i>
            <span class="links_name">Lista de Usuários</span>
          </a>
        </li>
        <li>
          <a href="/transportadora">
            <i class='bx bx-package' ></i>
            <span class="links_name">Adicionar Transportadoras</span>
          </a>
        </li>
        <li>
          <a href="/lista_transportadoras">
            <i class='bx bx-list-ul' ></i>
            <span class="links_name">Lista de Transportadoras</span>
          </a>
        </li>
        <% } %>
        <li>
          <a href="#">
            <i class='bx bx-user-circle'></i>
            <span><%= docs[0].Nome %></span>
          </a>
          <ul class="sub-menu">
            <li><a href="/edita_conta"><i class='bx bxs-user' ></i>Meu Perfil</a></li>
            <% if(docs[0].ADM == 0 ){ %>
            <li><a href="/lista_produtos"><i class='bx bx-cart' ></i>Meus Produtos</a></li>
            <li><a href="#"><i class='bx bx-cart' ></i>Carrinho</a></li>
            <li><a href="/produto"><i class='bx bx-cart' ></i>Vender</a></li>
            <% } %>
            <li><a href="/"><i class='bx bx-exit' ></i>Sair</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
