body{
    /*background-image: url('/public/images/background.jpg');*/
    background-size: cover;
    background-repeat: no-repeat;
    background-color: lightgray;
}

.center-div{
    padding-top: 10%;
}
  
.btn.btn-success{
    padding: .4em 2em;
}
  
form{
    padding: 0 3em;
}
  
span{
    font-size: .8em;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 240px;
    background: #11101d;
    padding: 6px 14px;
}

.sidebar .logo_content .logo{
    color:#fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
}

.logo_content .logo{
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}

.sidebar #btn{
    position: absolute;
    color: #fff;
    left: 90%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar ul{
    margin-top: 20px;
}

.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin-left: 0 5px;
    list-style: none; 
    line-height: 50px;
}

.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
}

.sidebar ul li input{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background-color: #1d1b31;
    padding-left: 50px;
    font-size: 18px;
    color: #fff;
}

.sidebar ul li .bx-search{
    position: absolute;
    z-index: 99;
    color: #fff;
    font-size: 22px;
}

.sidebar ul li a:hover{
    color:#11101d;
    background: #fff;
}

.sidebar ul li i{
    height: 50px;
    min-width: 50px;
    border-radius: 120px;
    line-height: 50px;
    text-align: center;
}

.sidebar ul li div{
    padding: 40px;
}

.content{
    position: relative;
    height: 100%;
    max-width: calc(100%-240px);
}

.sub-menu{
    background-color: #111;
    list-style: outside;
    display: none;
    margin: 0;
    padding: 10px 20px 10px;
    position: absolute;
    right: -89px;
    top: -18px;
    min-width: 180px;
}

.sidebar ul li a:hover ~ .sub-menu{
    display: block;
}

.sub-menu:hover{
    display: block;
}